body {
  font-family: Palatino, Times New Roman, Serif;
}

.modal {
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: white;
    outline: 9999px solid rgba(0,0,0,0.6);
}

nav {
  background-image: url('../img/navbar-background.png');
  background-repeat: repeat-x;
  width: 99%;
  max-width: 99%;
  height: 27px;
  text-align: left;
  vertical-align: center;
  padding-left: 1%;
  padding-top: 2px;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  text-shadow: rgb(81,51,5) 1px 1px 1px;
  white-space: nowrap;
  overflow: hidden;
}

nav #menu {
  display: inline;
}

nav li, nav ul {
  display: inline;
}

nav #drop-down {
  display: none;
  position: relative;
  top: -7px;
}

nav #drop-down span {
  font-size: 150%;
  position: relative;
  top: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 4px 8px 4px 8px;
}

nav a:hover {
  background-color: green;
}
/*
div {
   border: 1px solid red !important;
}
*/

nav a:active {
  background-color: rgb(81,51,5);
}

header {
  background-color: white;
  width: 100%;
  margin-bottom: -18px;
  /* border: 1px red solid; */
}

#masthead-title {
  margin-top: 33px;
  margin-bottom: 7px;
  margin-right: 20%;
  margin-left: 5%;
  max-width: 70%;
  vertical-align: top;
  z-index: 0;
}

#masthead-logo {
  position: absolute;
  right: 5%;
  top: 5px;
  max-width: 13%;
  max-height: 143px;
  min-height: 80px;
  min-width: 70px;
  float: right;
}

#main-content {
  margin-top: 1em;
  min-height: 350px;
  background-color: rgb(240,240,240);
}

.content-block {
  display: inline-block;
}

#home-quote {
  position: relative;
  width: 40%;
  height: 100%;
  height: 665px;
  background-color: white;
  vertical-align: top;
  opacity: 0.99;
  float: right;
}

#home-quote:before {
  position: absolute;
  content: "";
  background-image: url('../img/mg-factory.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: white;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#home-quote aside {
  padding: 2%;
  margin-left: 2%;
  margin-top: 1em;
  color: rgb(81,51,5);
  border-left: solid 1px rgb(127,107,79);
}

#home-quote blockquote {
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  font-style: italic;
}

.content-background {
  background: linear-gradient(white, rgb(127,107,79));
  background-color: rgb(127,107,79);
}

#content-sections {
  width: 60%;
  font-size: 110%;
}

a.plain {
  text-decoration: none;
  color: black;
}

a.plain img {
  border: none;
}

.green-heading {
  color: green;
  text-shadow: white 0px 0px 1px;
}

.section-img {
  float: left;
  margin-right: 1em;
  max-width: 25%;
  min-width: 150px;
}

#hagerty-logo.section-img {
  margin-top: 50px;
  margin-bottom: 5px;
}

section {
  padding: 0 0.5em;
}

#content-sections section {
  padding: 1em;
  display: inline-block;
  clear: left;
  border-bottom: 2px solid rgba(255,255,255,0.3);
}

.content-block {
  clear: both;
}

.content-padding {
  padding: 8px;
}

.divider {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  clear: both;
}

#member-cars .car {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 250px;
  min-height: 220px;
  padding: 0.75em;
  margin: 2px;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

#member-cars .car img {
  margin-bottom: 0.5em;
}

#member-cars .car-info {
  font-size: 120%;
  word-spacing: 2px;
  color: rgb(81,51,5);
}

#member-cars aside {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#member-cars #carousel {
    max-width: 800px;
    max-height: 500px;
}

#member-cars #carousel .caption {
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: -3em;
  margin-bottom: 0.5em;
  font-size: 150%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#carousel button.owl-prev,
#carousel button.owl-next,
#carousel button.close {
  position: fixed;
  outline: none;
  border: none;
  font-size: 96px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#carousel button.owl-prev:hover,
#carousel button.owl-next:hover,
#carousel button.close:hover {
    text-shadow:0px 0px 8px white;
}

button.owl-prev {
    top: 45%;
    padding: 16px;
}

button.owl-next {
    right: 0;
    top: 45%;
    padding: 16px;
}

#carousel button.close {
    position: fixed;
    font-size: 48px;
    color: white;
    background: transparent;
    top: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

.shadowed {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.doc-thumb {
  display: inline-block;
  text-align: center;
  margin: 8px;
}

.float-right {
    float: right;
    margin-left: 1em;
}

.newsletter img.past {
  height: 200px;
}

.caption {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

ul {
  list-style-image: url('../img/mg-bullet.png');
}

#current-newletter {
}

#current-newsletter .newsletter {
  float: left;
}

.newsletter-features {
  vertical-align: top;
  margin-right: 1em;
  padding-right: 2em;
  float: left;
}

#events .date {
  font-weight: bold;
  font-size: 125%;
}

#events img.logo, 
#events img.feature {
  clear: left;
  float: left;
  min-width: 200px;
  max-width: 25%;
  margin-right: 2em;
  margin-bottom: 2em;
}

.details {
  display: inline-block;
}

.back-link {
  text-align: right;
}

.back-link .arrow {
  font-size: 28px;
  position: relative;
  top: 5px;
  text-decoration: none;
}

@media screen and (min-width: 801px) {
  nav #menu {
    display: inline !important;
  }
}

@media screen and (max-width: 800px) {
  #main-content .content-block {
    display: block;
	width: 100%;
  }


  #home-quote, #home-quote:before {
    display: none;
    height: 100%;
	background: transparent;
  }

  #home-quote aside {
    color: rgb(127,107,79);
	border-left: none;
	padding-top: 2em;
	padding-bottom: 1em;
  }

  nav #drop-down {
    display: inline;
  }

  nav #menu {
    display: none;
	position: absolute;
	left: 0;
	padding: 0;
	margin-top: -8px;
	height: 275px;
	background-color: rgb(59,113,68);
	box-shadow: 4px 4px 15px #444;
  }

  #menu li {
    display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid rgb(127,167,135);
  }

  #menu li a {
   padding: 8px 22px;
   margin: 0;
   display: block;
  }
}

footer #buffer {
  height: 5em;
  background: linear-gradient(rgb(127,107,79), rgb(81,51,5));
  background-color: rgb(81,51,5);
}

footer {
  border-top: 1px solid rgb(81,51,5);
  background-color: rgb(81,51,5);
  color: white;
  text-align: center;
  margin: auto;
  padding-bottom: 2em;
}

footer .content {
  margin: 0.75em;
}



