body {
  font-family: Palatino, Times New Roman, Serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(81,24,0);
}

.modal {
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: white;
    outline: 9999px solid rgba(0,0,0,0.6);
}

nav {
  background-image: url('../img/navbar-background.png');
  background-repeat: repeat-x;
  width: 99%;
  max-width: 99%;
  height: 27px;
  text-align: left;
  vertical-align: center;
  padding-left: 1%;
  padding-top: 2px;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  text-shadow: rgb(81,51,5) 1px 1px 1px;
  white-space: nowrap;
  overflow: hidden;
}

nav #menu {
  display: inline;
}

nav li, nav ul {
  display: inline;
}

nav #drop-down {
  display: none;
  position: relative;
  top: -7px;
}

nav #drop-down span {
  font-size: 150%;
  position: relative;
  top: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 4px 8px 4px 8px;
}

nav a:hover {
  background-color: green;
}
/*
div {
   border: 1px solid red !important;
}
*/

nav a:active {
  background-color: rgb(81,51,5);
}

header {
  background-color: white;
  width: 100%;
  margin-bottom: -18px;
}

#masthead-title {
  margin-top: 33px;
  margin-bottom: 7px;
  margin-right: 20%;
  margin-left: 5%;
  max-width: 70%;
  vertical-align: top;
  z-index: 0;
}

#masthead-logo {
  position: absolute;
  right: 5%;
  top: 5px;
  max-width: 13%;
  max-height: 143px;
  min-height: 80px;
  min-width: 70px;
  float: right;
}

#main-content {
  margin-top: 1em;
  margin-bottom: -8px; /* hack */
  min-height: 350px;
  background-color: rgb(240,240,240);
}

.content-block {
  display: inline-block;
}

#home-quote {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  height: 665px;
  background-color: white;
  vertical-align: top;
  opacity: 0.99;
}

#home-quote:before {
  position: absolute;
  content: "";
  background-image: url('../img/mg-factory.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: white;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#home-quote aside {
  padding: 2%;
  margin-left: 2%;
  margin-top: 1em;
  color: rgb(81,51,5);
  border-left: solid 1px rgb(127,107,79);
}

#home-quote blockquote {
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  font-style: italic;
}

.content-background {
  background: linear-gradient(white, rgb(127,107,79));
  background-color: rgb(127,107,79);
  min-height: 350px;
  overflow: hidden;
}

#content-sections {
  width: 60%;
  font-size: 110%;
  border-right: 2px solid rgba(0,0,0,0.1);
}

a.plain {
  text-decoration: none;
  color: black;
}

a.plain img {
  border: none;
}

.green-heading {
  color: green;
  text-shadow: white 0px 0px 1px;
}

.section-img {
  float: left;
  margin-right: 1em;
  max-width: 25%;
  min-width: 150px;
}

#hagerty-logo.section-img {
  margin-top: 50px;
  margin-bottom: 5px;
}

section {
  padding: 0 0.5em;
}

#content-sections section {
  padding: 1em;
  display: inline-block;
  clear: left;
}

.divided {
  border-bottom: 2px solid rgba(255,255,255,0.3);
}

.content-block {
  clear: both;
}

.content-padding {
  padding: 8px;
}

.divider {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  clear: both;
}

#member-cars .car {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 250px;
  min-height: 220px;
  padding: 0.75em;
  margin: 2px;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

#member-cars .car img {
  margin-bottom: 0.5em;
}

#member-cars .car-info {
  font-size: 120%;
  word-spacing: 2px;
  color: rgb(81,51,5);
}

#member-cars aside {
  font-size: 85%;
  max-width: 400px;
  margin-right: 325px;
}

#member-cars #carousel {
    max-width: 800px;
    max-height: 500px;
}

#member-cars #carousel .caption {
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: -3em;
  margin-bottom: 0.5em;
  font-size: 150%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#carousel button.owl-prev,
#carousel button.owl-next,
#carousel button.close {
  position: fixed;
  outline: none;
  border: none;
  font-size: 96px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#carousel button.owl-prev:hover,
#carousel button.owl-next:hover,
#carousel button.close:hover {
    text-shadow:0px 0px 8px white;
}

button.owl-prev {
    top: 45%;
    padding: 16px;
}

button.owl-next {
    right: 0;
    top: 45%;
    padding: 16px;
}

#carousel button.close {
    position: fixed;
    font-size: 48px;
    color: white;
    background: transparent;
    top: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

.shadowed {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.doc-thumb {
  display: inline-block;
  text-align: center;
  margin: 8px;
}

.float-right {
  float: right;
  margin-left: 1em;
  max-width: 40%;
}

.float-left {
  float: left;
  margin-right: 1em;
  max-width: 40%;
}

.flush-top {
  margin-top: -8px;
}

.jump-links {
  position: absolute;
  right: 0;
  margin-left: 200px;
  text-align: right;
  background-color: rgba(255,255,255,0.75);
  padding: 8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 0 15px;
  box-shadow: -1px 1px 10px rgba(0,0,0,0.4);
}

.jump-links a {
  padding: 0.25em;
  white-space: nowrap;
}

.jump-links li, 
.jump-links ul {
  margin: 0;
  display: inline;
}

.learn-more {
	margin-left: 250px;
}

.learn-more a {
	white-space: normal !important;
}

.newsletter img.past {
  height: 200px;
}

.caption {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

ul {
  list-style-image: url('../img/mg-bullet.png');
}

#current-newsletter {
  background-image: url('../img/nammmr-logo-embossed.png');
  background-repeat: no-repeat;
  background-position: 700px 60px;
}

.newsletter-features {
  vertical-align: top;
  margin-right: 1em;
  padding-right: 2em;
  display: inline-block;
}

#newsletters .past-issues {
  text-align: center;
}

#newsletters .end-logo {
  width: 150px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 10px;
}

#events .date {
  font-weight: bold;
  font-size: 125%;
}

#events img.logo,
#events img.feature {
  clear: left;
  float: left;
  min-width: 200px;
  max-width: 25%;
  margin-right: 2em;
  margin-bottom: 2em;
}

.details {
  display: inline-block;
}

.back-link {
  text-align: right;
}

.arrow {
  font-size: 28px;
  position: relative;
  top: 4px;
  line-height: 14px;
}

#for-sale-details img {
    width: 100%;
    margin-bottom: 1em;
}

#for-sale-details .description {
    padding: 0.5em 2em;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    background-color: rgba(255,255,255,0.75);
}

#for-sale .summary {
}

#for-sale .item {
    display: block;
    overflow: hidden;
}

#for-sale h2 {
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}

#for-sale h3 {
    margin-top: .25em;
}

#for-sale .item .thumb {
    float: left;
    margin-right: 1em;
}

#for-sale .inline-img {
    width: 100%;
    max-width: 800px;
}

#regalia {
  text-align: center;
}

#regalia .catalog {
  margin: 30px auto;
  overflow: hidden;
  display: table;
  max-width: 840px;
  font-size: 0; /* eliminate item gap */
}

#regalia .item {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  width: 275px;
  height: 430px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: #fff;
}

#regalia .pricing {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
    color: green;
}

#regalia .item img {
   max-height: 85%;  
   max-width: 100%; 
   width: auto;
   height: auto;
   position: absolute;  
   top: -15%;  
   bottom: 0;  
   left: 0;  
   right: 0;  
   margin: auto;
}

.regalia-contact {
  font-size: 125%;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
    border: 2px solid #ccc;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
}

#regalia-details {
  overflow: hidden;
  height: auto;
}

#regalia-details img {
  float: left;
  width: 50%;
  min-width: 360px;
  max-width: 600px;
  margin-right: 3%;
  margin-bottom: 1em;
}

#regalia-details .description {
  margin-bottom: 4em;
  border-bottom: 1px solid rgb(81,24,0);
  min-width: 300px;
  overflow: hidden;
}

#regalia-details .pricing {
  font-size: 125%;
  font-weight: bold;
  display: inline-block;
    color: green;
}

.hall-of-fame {
  font-style: oblique;
  font-size: 125%;
  margin-left: 1em;
}

table.officers {
  line-height: 1.75em;
  font-size: 110%;
  margin: 0 auto;
}

table.officers td {
  padding-right: 1em;
  border-bottom: 1px solid #ccc;
}

table.officers .title {
  text-align: right;
  font-size: 85%;
}

img.sketch {
  clear: both;
  width: 90%; 
  max-width: 800px;
  display: block;
  margin: 8px auto;
}

form.paypal {
  text-align: center;
}

#guidelines ol {
  counter-reset: item;
}

#guidelines ol h3 {
  display: inline-block;
  margin-bottom: 0;
}

#guidelines ol.top > li:before {
    color: rgb(81,24,0);
  font-size: 125%;
}

#guidelines ol > li {
  display: block;
  margin: 0.5em 0;
}

#guidelines ol li > p, 
#guidelines ol li > dl {
  margin-left: 1.75em;
}

#guidelines ol dt {
  font-weight: bold;
}

#guidelines dd {
  margin-bottom: 0.5em;
}

#guidelines ul li {
  list-style-image: none;
  list-style-type: disc;
  margin: 0.5em 0;
}

#guidelines ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: bold;
}

#model-lineup {
  max-width: 900px;
  margin: 0 auto;
}

#model-lineup .model {
  clear: both;
  overflow: hidden;
  margin-bottom: 0.75em;
}

#model-lineup .label * {
  display: inline;
}

#model-lineup .label {
  font-size: 85%;
  font-style: oblique;
  overflow: hidden;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

#model-lineup .label h3 {
	font-size: 130%;
}

#model-lineup .description {
	font-size: 85%;
}

@media screen and (min-width: 701px) {
  nav #menu {
    display: inline !important;
  }

  #pin-to-top.pinned {
    position: fixed;
    top: 0;
  }

  .wide-only {
    display: inherit;
  }
}

@media screen and (max-width: 700px) {
  .wide-only {
    display: none !important;
  }

  #main-content .content-block {
    display: block;
    width: 100%;
  }

  #home-quote, #home-quote:before {
    display: none;
    height: 100%;
    background: transparent;
  }

  #home-quote aside {
    color: rgb(127,107,79);
    border-left: none;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  nav #drop-down {
    display: inline;
  }

  nav #menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin-top: -8px;
    height: 275px;
    background-color: rgb(59,113,68);
    box-shadow: 4px 4px 15px #444;
  }

  #menu li {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid rgb(127,167,135);
  }

  #menu li a {
   padding: 8px 22px;
   margin: 0;
   display: block;
  }
}

footer #buffer {
  height: 5em;
  background: linear-gradient(rgb(127,107,79), rgb(81,51,5));
  background-color: rgb(81,51,5);
}

footer {
  background-color: rgb(81,51,5);
  color: white;
  text-align: center;
  margin: auto;
  padding-bottom: 2em;
  clear: both;
}

footer .content {
  margin: 0.75em;
}



