---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <h2 class="divider green-heading">2020 NAMMMR National Meet 
            &mdash; Colorado Springs, Colorado</h2>
        <div class="details">
            <h3 class="notice">For the health and safety of our members, 
            the NAMMMR national meet for 2020 has been cancelled due to the COVID-19 pandemic. 
            Additional details have been emailed to our members regarding the cancellation.</h3>
            <h3 class="notice">We want to thank the North American MGA Register, The MG Car Club Rocky Mountain Center and our own Alan Magnuson for the hundreds of hours they spent creating and organizing what was going to be a great MG experience out here in the Colorado Rockies.</h3> 
            <h3 class="notice">We wish you all the best of health, and we hope
            to see you in 2021 in Atlantic City!</h3>
            <section class="content-block logos">
                <img src="img/2020-gt-45-logo.png" style="max-height: 154px;">
                <img src="img/2020-cosprings-meet-logo.png?cb=0">
                <img src="img/mgcc-rmc-logo.png">
            </section>
        </div>
    </section>
    <div class="back-link">
        <a href="events-archive/">Previous Events</a>
        <span class="arrow">&blacktriangleright;</span>
    </div>
</div>

