---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <h2 class="divider green-heading">MG International – Atlantic City 2021</h2>
        <div class="details">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_BcbC6_oGWA?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="date">June 14 to 17, 2021</p>
            <p>All events listed below are subject to change at present. We have a <a href="https://www.facebook.com/groups/3336095969744088/">Facebook Group</a> (the group name is MG International – Atlantic City 2021) , that we recommend you join.</p>

            <p>The event officially begins on Monday, June 14, 2021 when registrants will be able to pick up their event packets (or register if they’ve not yet done so), but we recommend that you arrive on Sunday (or Monday morning at the latest) in order to explore the Boardwalk, the Absecon Lighthouse, and other attractions that Atlantic City has to offer.</p>
            <img class="float-right snapshot" src="photos/mg2020-1.jpg">
            <p>Monday evening we will have our traditional “Welcome!” gathering, this time at Harrah’s at the indoor pool area and outside patio. You will want to attend this event to meet up with friends that you may not have seen for a while or perhaps to even make new friends. You will have fun!</p>
            <p>Tuesday and Wednesday registrants will find numerous tech sessions to attend at Harrah’s as well as self-guided tours of the area. We will also be offering motor coach tours to the Simeone Foundation Automotive Museum in Philadelphia, to historic Philadelphia, and to historic Cape May, NJ on these days. We may be offering similar tours to some wineries in the area. Our “silent auction” will be conducted from Monday through Wednesday at Harrah’s.</p>
            <p>A possibility of cooking demonstrations/classes</p>
            <img class="float-left snapshot" src="photos/mg2020-3.jpg">
            <p>Tuesday evening is “Register Night” which will be held at Caesar’s Atlantic City on the Boardwalk. Transportation will be provided or you can drive to Caesar’s from Harrah’s and park free in their garage. There will be a “meet and greet” happy hour prior to the registers splitting off to their own banquet rooms. </p>
            <p>Wednesday evening is a “free” night for you to discover other nearby attractions and restaurants such as “The Knife and Fork Inn” or perhaps “Gordon Ramsay’s Pub & Grill” at Caesars…..you could even grab a beer and a Nathan’s Hot Dog to enjoy on the Boardwalk!</p>
                <p>Our popular vote car show will be held on Thursday at the Atlantic County 4-H Fairgrounds. Each Register will have their own area on the fairgrounds and classes will be subdivided amongst those areas. There are restrooms and other buildings on the grounds; food will be available on site.</p>
                <img class="float-right snapshot" src="photos/mg2020-4.jpg">
            <p>We also plan on offering motor coach transportation to historic Philadelphia and Cape May on Thursday for those of you not wishing to attend the car show at the fairgrounds.</p>
            <p>Thursday evening is our Awards Banquet at Harrah’s. As in previous years, each Register will have their own “pre-awards banquet” where most of the individual class awards will be handed out. We will then enjoy a banquet feast at Harrah’s before first place awards are presented and other recognitions are made.</p>
            <p>We will bid adieu to Atlantic City on Friday morning.</p>
            <p>We hope you will save the date now….as you will NOT want to miss this gathering of MGs by the sea!</p>
        </div>
    </section>
    <div class="back-link">
        <a href="events-archive/">Previous Events</a>
        <span class="arrow">&blacktriangleright;</span>
    </div>
</div>

