---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <span class="back-link float-right">
            <a href="events-archive/">Past&nbsp;Events&nbsp;<span class="arrow">&blacktriangleright;</span></a>
        </span>
<h2 class="divider">2024 NAMMMR National Meet</h2>

<p>Our national meet will be held along with <a href="http://gofcentral.com/">GoF Central 2024</a> the week of June 16-21 in Newark, Ohio.</p>

<p>MMMers are invited to arrive Saturday evening (6/15) or Sunday morning (6/16) so we can have our MMM Lunch, Drive,
and the BG on Sunday prior to the GoF activities which begin Monday.
</p>


<p>
The host location is the <a href="https://www.cherryvalleyhotel.com/">Cherry Valley Hotel</a>.
Reservations are open now at $135.00 plus tax per night.
NAMMMR has approval by the hotel for Saturday and Sunday nights at the same rates as GoF Central 2024 will be for the week. 
</p>

<h3>Host Hotel</h3>
<p>
<a href="https://www.cherryvalleyhotel.com/"><b>Cherry Valley Hotel, Best Western Premier Collection</b></a><br>
&nbsp;&nbsp; &nbsp;&nbsp; 2299 Cherry Valley Rd SE<br>
&nbsp;&nbsp; &nbsp;&nbsp; Newark, OH 43055<br>
&nbsp;&nbsp; &nbsp;&nbsp; 740-788-1200<br><br>
<b>Group Name:</b> Ohio MG GOF (06/2024)<br>
<b>Sales Coordinator:</b> Rebecca Coffey<br>
</p>

<h3>Event Information</h3>

<ul>
<li><a href="http://gofcentral.com/">GoF Central 2024 Website</a></li>
</ul>

    </section>
    <div class="back-link">
        <a href="events-archive/">Past&nbsp;Events&nbsp;<span class="arrow">&blacktriangleright;</span></a>
    </div>
<img class="sketch" src="img/m-type-sketch.png" alt="">
</div>

