---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <h2 class="divider green-heading">2020 NAMMMR National Meet 
            &mdash; Colorado Springs, Colorado</h2>
        <div class="details">
            <img class="logo" src="img/2020-cosprings-meet-logo.png?cb=0"
                alt="2020: NAMMMR National Meet Colorado Springs, CO">
            <p class="date">June 1 to 5, 2020</p>
            <p>In Association with NAMGAR and the MG Car Club, Rocky Mountain Centre, The North American MMM Register will host its annual meet in beautiful Colorado Springs, CO. Plan to stay an extra few days to enjoy all the area has to offer. This is the ideal time of year and we couldn’t have picked a better location. Of course, we are a bit biased.</p>
            <p><b>It’s already October</b> and we’ve had our first snow here in Colorado. In order to help you have the best experience during your visit next year, we thought we’d introduce you to great things to do and see in Colorado Springs, just minutes from our host hotel. 

            <p><b>We’re expected.</b>  150 rooms have been set aside for GT-45 and MMM participants.  Official event registration and hotel reservation information will be announced later this Fall.</p>
            <section class="content-block">
            <h2 class="green-heading break">Are you a fan of the Olympics?</h2>
            <img class="photo float-right" src="photos/bonnie-blair-1984-olympics.jpg">
Just in time for GT-45, a brand new 60,000 SF U.S. Olympic and Paralympic Museum will be opening in Spring of 2020.  This will be the only US Olympics museum in the United States. The museum is on the campus of the US Olympic complex, which includes the United States Olympic and Paralympic Committee Headquarters, 20+ National Olympic Governing Bodies, more than 50 National Sport Organizations, and the Colorado Springs Olympic & Paralympic Training Center. The USOC Training Center also hosts tours so you can see where and how our athletes work towards Olympic Gold. Come watch our best athletes train for the upcoming Summer Games in Tokyo, starting in July, 2020.
            </section>
            <section class="content-block">
            <h2 class="green-heading">Garden of the Gods</h2>
            <img class="photo float-left" src="photos/garden-of-the-gods.jpg">
            <p>Garden of the Gods Park is a registered National Natural Landmark. The park features dramatic views of 300' towering sandstone rock formations against a backdrop of snow-capped Pikes Peak and brilliant blue skies. This world-class Visitor & Nature Center and museum is the most visited attraction in the region and has all new interactive exhibits.  The park offers guided Jeep, Segway, and electric bike tours as well as daily adventure programs so you can immerse yourselves in this amazing place.
            </section>
        <section class="content-block">
            <h2 class="green-heading">WWII Aviation Museum</h2>
            <div class="full-width" ><img src="photos/aviation-museum.jpg"></div>
            <p>The National Museum of WW II Aviation features a fine collection of 16 vintage warbirds on site, both working and undergoing restoration.  The museum just moved to a new 40,000 SF facility, which includes an extensive restoration shop.  Tours of the shop and museum are available. 
 Among the working aircraft you’ll find a Lockheed P-38 Lightning, a pair of Grumman Tigercats, a P-47D Thunderbolt and a North American B-25 Mitchell, similar to the bomber flown by Jimmy Doolittle in his 1942 raid on Tokyo.  The facility also maintains an archive of more than 3,000 artifacts from the period.  
            </section>
            <section class="content-block">
            <h2 class="green-heading">U.S. Air Force Academy</h2>
            <div class="full-width"><img src="photos/airforce-academy.jpg"></div>
            <p>Military buffs will also want to pay a visit to the U.S. Air Force Academy.  Enjoy the pageantry of the all hands cadet formation just before lunch time.  A visit to the Air Force Academy Chapel is also highly recommended, although you’ll have to admire it from outside.  It is currently undergoing renovation.
            </section>
            <section class="content-block">
            <h2 class="green-heading">Then there’s Pikes Peak.</h2>
            <div class="full-width"><img src="photos/pikes-peak.jpg"></div>
            <p>At just over 14,000 feet, Pikes Peak is visible from just about everywhere in the area.  The drive up the mountain is on well-paved roads and absolutely worth the trip.  It’s about as MG friendly as any of the state’s fourteeners, with paved switchbacks and plenty of turnouts. In an MG, you can expect to be in second gear in several places during the drive up.  The park suggests that you budget three to four hours for the round trip, plus the time you spend at the top.  Alternatives to driving your own vehicle include guided tours by bus or jeep. Either way, spectacular views await you during the climb and at the Pikes Peak Summit House.
            </section>
            <section class="content-block logos">
                <img src="img/2020-gt-45-logo.png" style="max-height: 154px;">
                <img src="img/2020-cosprings-meet-logo.png?cb=0">
                <img src="img/mgcc-rmc-logo.png">
            </section>
        </div>
    </section>
    <div class="back-link">
        <a href="events-archive/">Previous Events</a>
        <span class="arrow">&blacktriangleright;</span>
    </div>
</div>

