---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <span class="back-link float-right">
            <a href="events-archive/">Past Events <span class="arrow">&blacktriangleright;</span></a>
        </span>
        <h2 class="divider green-heading">100th Anniversary of MG Sports Cars - 2023 Centenary Events</h2>
        <div>
            <!--
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_BcbC6_oGWA?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            -->
<img class="float-left" src="img/2023-mg-centenary-logo.png" alt="">

<h2>MG Car 2023 North American and MG &amp; Triumph 100 Activities:</h2>
<p><em>Get these 2023 dates on your calendar for MG Centenary Events in North America starting in June of
2023.<br><br>Organizers will be delighted to have you attend events in your area of North America. These
Centenary celebrations invite All MGs and their owners!</em><br><br>

<div class="divider"><h4 class="date">June 9-11</h4><p style="float: left">MGCC Rocky Mountain Centre’s 71st Annual Rallye Glenwood Springs, Glenwood Springs, Colorado. <br>Celebrating MG’s Centenary with the MG TD as car of show. <br><a href="https://mgcc.org/rallye-glenwood-springs/">www.mgcc.org</a></div>
<div class="divider"><h4 class="date">June 10-11</h4><p style="float: left">MG &amp; Triumph 100, Silverstone Circuit, Northamptonshire, United Kingdom.<br><a href="http://www.mgtriumph100.co.uk">www.mgtriumph100.co.uk</a></div>
<div class="divider"><h4 class="date">June 12-16</h4><p style="float: left">NAMGAR’s GT-48 in Memphis, Tennessee.<br><a href="http://www.namgar.com">www.namgar.com</a></div>
<div class="divider"><h4 class="date">June 14-18</h4><p style="float: left">NEMGTR GoF Mk 109 “Rally up the Rideau” Kingston to Ottawa, Canada.<br><a href="http://www.nemgtr.org/events/events.html">www.nemgtr.org</a></div>
<div class="divider"><h4 class="date">June 20-23</h4><p style="float: left">GoF Central/NAMMMR meet will be in South Bend, Indiana, home of Norte Dame University and Studebaker. <br><a href="http://www.gof2023.com">www.gof2023.com</a></div>
<div class="divider"><h4 class="date">July 17-20</h4><p style="float: left">NAMGBR’s MG2023 – Calgary, Alberta, starts after the Calgary Stampede. <br><a href="https://namgbr.org">namgbr.org</a></div>
<div class="divider"><h4 class="date">Sept 1-4</h4><p style="float: left">Lime Rock 41st Historics Race, Lime Rock, Connecticut.<br>Celebrating MG’s 100th Anniversary! <br><a href="http://limerock.com/events/all-events/">limerock.com</a></div>
<div class="divider"><h4 class="date">Sept 9-10</h4><p style="float: left">SVRA Collier Cup MG Race, Watkins Glen, New York.<br><a href="http://www.theglen.com/events/2023-hilliard-u-s-vintage-grand-prix">www.theglen.com</a></div>
<div class="divider"><h4 class="date">Sept 16-17</h4><p style="float: left">40th Annual Colorado English Motoring Conclave<br>This Centenary celebration will have over 400 British vehicles. <br><a href="http://thecoloradoconclave.com">thecoloradoconclave.com</a></div>
<div class="divider caption">
<img src="img/nammmr-logo-metal.png" alt="">
<h2>MG: The Sports Car North America Loved First!</h2>
</div>
        </div>
    </section>
    <div class="back-link">
        <a href="events-archive/">Past Events <span class="arrow">&blacktriangleright;</span></a>
    </div>
</div>

