---
title: Newsletters
layout: main-layout.hbs
base: ../
---
<div id="newletters" class="content-padding content-background">
{{#each newsletters}}
{{#if @first}}
<div id="current-newsletter">
    <div class="newsletter-features">
        <h2 class="divider">Current Issue</h2>
        <h3>Features</h3>
        <ul>
            <li>Bowling Green Registration</li>
            <li>Kimber Festival 2019</li>
            <li>Maggies Story</li>
            <li>Chat With Frank Langridge</li>
            <li>M-Type 90th looking back</li>
        </ul>
    </div>
{{/if}}
<a class="newsletter" href="newsletters/{{file}}.pdf">
  <img class="shadowed {{#unless @first}}past{{/unless}}" src="newsletter-thumb/{{file}}.jpg" alt="">
  <div class="caption">{{title}}</div>
</a>
{{#if @first}}
</div>
<h2 class="divider">Past Issues</h2>
{{/if}}
{{/each}}
</div>

