---
title: Newsletters
layout: main-layout.hbs
base: ../
---
<div id="newsletters" class="content-padding content-background">
{{#each newsletters}}
{{#if @first}}
<div id="current-newsletter">
    <div class="newsletter-features">
        <h2 class="divider">Current Issue</h2>
        <h3>Features</h3>
        <ul>
            <li>MG International 2021 News</li>
            <li>When I Was Your Age &mdash; More on Abingdon in the 1930s</li>
            <li>Handbrake Shaft Assembly Bushing and Bearing</li>
            <li>An Oily Tale</li>
            <li>Cars of our Register</li>
        </ul>
    </div>
{{/if}}
<a class="newsletter doc-thumb" href="newsletters/{{file}}.pdf">
  <img class="shadowed {{#unless @first}}past{{/unless}}" src="newsletter-thumb/{{file}}.jpg" alt="">
  <div class="caption">{{title}}</div>
</a>
{{#if @first}}
</div>
<h2 class="divider">Past Issues</h2>
<div class="past-issues">
{{/if}}
{{/each}}
<img class="end-logo" src="img/nammmr-logo-metal.png" alt="">
</div>

<h2 class="divider">Contact Our Editor</h2>
<p>Contributions are solicited for all activities associated with your MMM cars:
Local or national events you have participated in, technical tips, restoration progress, etc.
Let us know what you are doing with your cars and how you have been enjoying them.</p>

<p><strong>Please email your articles, photos and other submissions to our
Newsletter Editor Tom Wilson at
<a href="mailto:MGTCTom@gmail.com">MGTCTom@gmail.com</a></strong></p>
</div>

