<!doctype html>
<html class="no-js" lang="en-US">

<head>
    {{#if base}}<base href="{{base}}">{{/if}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="The North American MMM Register was created in 1989 to provide a means of communication among owners of MG MMM cars in North America. &quot;MMM&quot; refers to Midget, Magna and Magnette, the overhead cam 4 and 6 cylinder MG cars produced between 1929 and 1936.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.jpg">
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon" />

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/boiler.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <img id="masthead-title" src="img/masthead.png" alt="North American MMM Register"/>
        <nav>
            <a id="drop-down" href="#" onclick="$('#menu').toggle(150)"><span>&equiv;</span>&nbsp;&nbsp;Menu</a>
            <ul id="menu">
                <li><a href="#">Events</a></li>
                <li><a href="#">Newsletters</a></li>
                <li><a href="#">Member Cars</a></li>
                <li><a href="#">For Sale</a></li>
                <li><a href="#">Regalia</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Join</a></li>
            </ul>
        </nav>
        <img id="masthead-logo" src="img/register-logo-large.png" alt="" />
    </header>
    <main id="main-content">
    {{{content}}}
    </main>
    <footer>
        <div id="buffer"></div>
        <img class="content" id="safety-fast" src="img/safety-fast-signature.jpg" alt="Safety Fast!" />
        <div class="content" id="address">
            North American MMM Register<br>
            P. O. Box 271825<br>
            Littleton, Colorado 80127
        </div>
    </footer>
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
