---
layout: main-layout.hbs
base: ../../
---
<div id="regalia-details" class="content-padding content-background">
<h2>{{title}}</h2>
<img class="shadowed" src="photos/{{img}}" alt="">
<div class="description">
	{{{content}}}
	<p class="pricing">{{{pricing}}}</p>
</div>
<div class="regalia-contact">
    <p>For questions, or to order contact</p>

    <p>Cathy Gunderson<br>
    303-791-4902<br>
    or email<br>
    <a href="mailto:j‐cg@juno.com">j‐cg@juno.com</a>
</div>
</div>
